<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <pipelines>
          <httpRequestBegin>
              <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequest.EnableExperienceModePipeline, Sitecore.ExperienceExplorer.Business" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']" set:type="Sitecore.Support.ExperienceExplorer.Business.Pipelines.HttpRequest.EnableExperienceModePipeline, Sitecore.Support.107688" />
          </httpRequestBegin>
          <renderLayout>
              <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.RenderLayout.InjectExperienceExplorerControlPipeline, Sitecore.ExperienceExplorer.Business" set:type="Sitecore.Support.ExperienceExplorer.Business.Pipelines.RenderLayout.InjectExperienceExplorerControlPipeline, Sitecore.Support.107688" />
          </renderLayout>
      </pipelines>
  </sitecore>
</configuration>